[Unit]
 Description=Energy Monitor
 After=multi-user.target

[Service]
WorkingDirectory=/home/mnalavadi/energy-monitor
Type=idle
ExecStart=/home/mnalavadi/.local/bin/uv run app
User=mnalavadi

 [Install]
 WantedBy=multi-user.target
